*{
  font-family: "Times New Roman", Times, serif;
}

header {
    background-color: #B19ACB;
    color: #FFFFFF;
    padding: 20px 40px;
    border-bottom: 3px solid #D8C8E8;
    position: fixed;
    top: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    color: #FFFFFF;
}

header h2 {
  color: #F3EEF8;
  margin: 8px 0 20px;
}

header nav {
    display: flex;
    justify-content: right;
    gap: 50px;
    font-size: 1.5em;
    margin-right: 60px;
}

header nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #FFFFFF;
    padding: 5px 10px;
    
}

header nav a:hover {
    color: #D8C8E8;
}

.images {
    height: 95vh;
    background-size: cover;
    background-position: center;
    animation:changePhoto 20s infinite;
}

@keyframes changePhoto {
    0%, 20% {background-image:url("picture1.jpeg");}
    21%, 40% {background-image:url("picture2.jpeg");}
    41%, 60% {background-image:url("picture3.jpeg");}
    61%, 80% {background-image:url("picture4.jpeg");}
    81%, 100% {background-image:url("picture5.jpeg");}
}

form{
    font-size: 1.2em;
}

table{
    font-size:1.2em;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse; 
}
td {
    width: 20%;
    text-align: center; 
}

th {
    text-align: center;
    font-size: 24px
}

body {
    padding-top: 260px;
}
